/* estilize a pagina harmoicamente com o css */

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    animation: gradient 15s infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h2 {
    color: #333;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    color: #333;
    margin-top: 50px;
    margin-bottom: 50px;
}


